nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 3vh;
    color: var(--beaver);
    position: relative;
}

nav a {
    text-decoration: none;
    color: var(--beaver);
}

nav a:hover {
    color: var(--reseda-green);
    font-weight: bold;
}

.navbar-logo {
    line-height: 0;
}

.navbar-menu {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navbar-menu ul {
    list-style: none;
    display: flex;
}

nav img.logo {
    max-height: 4rem;
    flex-shrink: 0;
}