nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 3vh;
    color: var(--beaver)
}

nav a {
    text-decoration: none;
    color: var(--beaver);
}

nav a:hover {
    color: var(--reseda-green);
    font-weight: bold;
}