.new-spot-form-container {
    border: .3vmin solid var(--moss-green);
    background-color: var(--peach-yellow);
    border-radius: .5vmin;
    padding: 10px 25px;
    margin: 10px; 
    margin-bottom: 20px;
}

.new-spot-form-container input {
    border: .3vmin solid var(--moss-green);
}
.new-spot-form-container input:focus {
    border: .4vmin solid var(--persian-orange);
}