
:root {
  --reseda-green: #797d62ff;
  --moss-green: #9b9b7aff;
  --khaki: #baa587ff;
  --peach-yellow: #f1dca7ff;
  --sunglow: #ffcb69ff;
  --earth-yellow: #e8ac65ff;
  --persian-orange: #d08c60ff;
  --chamoisee: #b58463ff;
  --beaver: #997b66ff;
  --tea-green: #ccd5aeff;
  --beige: #e9edc9ff;
  --cornsilk: #fefae0ff;
  --papaya-whip: #faedcdff;
  --buff: #d4a373ff;
}

body {
  background-color: var(--cornsilk);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.scroll-y {
  overflow-y: scroll;
}

p.error-message {
  color: red;
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--beaver);
  font-weight: bold;
}

a:hover {
  color: var(--reseda-green);
  font-weight: bold;
}