.spot-item {
    align-items: flex-start;
    justify-content: space-evenly;
    border: .3vmin solid var(--tea-green);
    background-color: var(--beige);
    border-radius: .5vmin;
    display: flex;
    padding: 10px 5px;
    margin: 10px; 
    margin-bottom: 20px;
}

.spot-item button {
    font-size: smaller;
}

button.delete-btn {
    margin-left: 0px;
}

button.edit-btn {
    background-color: var(--tea-green);
}

button.item-toggle-btn {
    background-color: var(--chamoisee);
}

.item-form-container {
    margin-left: 15px;
}