.spot-item {
    align-items: flex-start;
    justify-content: space-between;
    border: .3vmin solid var(--tea-green);
    background-color: var(--beige);
    border-radius: .5vmin;
    display: flex;
    padding: 10px 25px;
    margin-top: 10px; 
    margin-bottom: 20px;
}

.spot-item button {
    font-size: smaller;
}

.spot-item p {
    font-size: 1.4vmin;;
}

button.delete-btn {
    margin-left: 0px;
}

button.edit-btn {
    background-color: var(--tea-green);
    margin-left: 0px;
}

button.item-toggle-btn {
    background-color: var(--chamoisee);
    margin-left: 0px;
}

.item-form-container {
    margin-left: 15px;
}